<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyleCombination }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Edit Combination for {{ editMapping?.fieldForMapping }}
        </h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-6 d-flex" style="flex-direction: column">
          <label>Selected Field in an order</label>
          <select [ngModel]="editMapping?.activeField">
            <option
              *ngFor="
                let i of filterCombinations(editMapping?.uploadedFields);
                let num = index
              "
            >
              {{ i }}
            </option>
          </select>
        </div>
        <div class="col-md-2 d-flex" style="flex-direction: column">
          <button class="btn btn-sm btn-warning" (click)="addCombination()">
            Add
          </button>
        </div>
        <div class="col-md-12">
          <table>
            <thead>
              <th>Position</th>
              <th>Field</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let i of combination; let num = index">
                <td>{{ num }}</td>
                <td>{{ i }}</td>
                <td>
                  <button (click)="deleteCombination(num)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>