<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Edit Transformation for {{ editMapping?.fieldForMapping }}
        </h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-4 d-flex" style="flex-direction: column">
          <label>Selected Field</label>
          <input [ngModel]="editMapping?.activeField" disabled />
        </div>
        <div class="col-md-3 d-flex" style="flex-direction: column">
          <label>Operations</label>
          <select [(ngModel)]="selectedOperation" (change)="setArgsList()">
            <option *ngFor="let o of operations" value="{{ o.name }}">
              {{ o.name }}
            </option>
          </select>
        </div>
        <div class="col-md-3 d-flex" style="flex-direction: column">
          <label *ngIf="argsList.length > 0">Arguments</label>
          <input
            *ngFor="let a of argsList; let num = index"
            [(ngModel)]="argsList[num]"
          />
        </div>
        <div class="col-md-2 d-flex" style="flex-direction: column">
          <button class="btn btn-sm btn-warning" (click)="applyTransform()">
            Apply
          </button>
        </div>
        <div class="col-md-12">
          <table>
            <thead>
              <th>Step Number</th>
              <th>Output</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let i of filterTransformations(transform);
                  let num = index
                "
              >
                <td>{{ num }}</td>
                <td>{{ i.output }}</td>
                <td><button (click)="deleteTransform(num)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>